.cardcomponent {
  display: flex;
  flex-direction: row;
}
.wrapper {
  position: relative;
  min-height: 300px;
}

.noline1 {
  position: absolute;
  right: 20px;
  margin: 1% 1%;
  border: none;
  outline: none;
  text-align: right;
}
